<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flow="http://www.springframework.org/schema/webflow-config"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/webflow-config
	http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/cache 
    http://www.springframework.org/schema/cache/spring-cache.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<mvc:annotation-driven/>
	<context:annotation-config />
	<context:component-scan base-package="com.wolfkill.*"/>
	<!-- HandlerMapping Defination -->
	<bean  class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">  
	</bean> 

	<!-- HandlerAdapter Defination -->
	<bean  class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">  
	    <property name="messageConverters">  
	        <list>  
	            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />  
	        </list>  
	    </property>
	      
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
  		<property name="mapperLocations" value="classpath*:wwg/abchina/**/*.xml" />
	</bean>
   
<!-- HttpMessage Resolver Defination -->


	<!-- View Resolver Defination -->    
    <!-- ===================================================== -->
    <!-- 				ViewResolver For Json    	     	   -->
    <!-- ===================================================== -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" p:order="10">
	
	</bean>
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
    	<property name="prefix" value="/WEB-INF/pages/"/>  
    	<property name="suffix" value=".jsp"/>  
	</bean>
</beans>